---
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="canonical"
      href="https://armandodev-numerical-systems.vercel.app/"
    />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://armandodev-numerical-systems.vercel.app/og.webp"
    />
    <meta
      property="og:image:alt"
      content="Imagen representando los sistemas numéricos con el logo de la aplicación y el texto 'Sistemas numéricos' y un subtitulo con el texto 'Por @armandodev'."
    />
    <meta
      property="og:url"
      content="https://armandodev-numerical-systems.vercel.app/"
    />

    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content={description}
    />
    <meta
      name="twitter:url"
      content="https://armandodev-numerical-systems.vercel.app/"
    />
    <meta
      name="twitter:image:src"
      content="https://armandodev-numerical-systems.vercel.app/og.webp"
    />
    <meta
      name="twitter:image:alt"
      content="Imagen representando los sistemas numéricos con el logo de la aplicación y el texto 'Sistemas numéricos' y un subtitulo con el texto 'Por @armandodev'."
    />
    <meta name="twitter:creator" content="@armandodev_" />
    <meta name="twitter:site" content="@armandodev_" />

    <meta
      name="google-site-verification"
      content="glmGWJrIEpohKqgRc8hg1vV4V3MCnsUYGIMQUI5V31Y"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    @apply bg-gray-100 dark:bg-gray-800  text-blue-600 dark:text-blue-400;
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
</style>
